#offer {
  h3 {
    font-size: clamp(1rem, 5vw, 10rem);
  }
  h4 {
    font-size: clamp(1rem, 1.75vw, 5rem);
  }
  .crop-down {
    object-fit: cover;
    object-position: 100% 500px !important;
  }
}
