#ourAcomplishments {
  h4 {
    font-size: clamp(1.5rem, 4vw, 5rem);
  }

  img {
    width: 75%;
  }

  p.offer {
    font-size: clamp(1.2rem, 1.6vw, 2rem) !important;
    a {
      font-size: clamp(1.2rem, 1.6vw, 2rem) !important;
    }
  }
}
