#ourAcomplishments {
  h4 {
    font-size: clamp(1.5rem, 4vw, 5rem);
  }

  img {
    width: 75%;
  }

  .lineParent {
    overflow: hidden;
    .lineChildren {
      transform: translate(0, 500px);
    }
  }
}
