.card {
  background-color: #fcfcff;

  .card-header {
    font-size: clamp(1rem, 1.4vw, 3rem);
  }

  transition: box-shadow 0.2s ease;
  &:hover {
    -webkit-box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.11);
  }
}
