@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");

@import "./variables";
@import "./utilities";
@import "./typography";
@import "./buttons";
@import "./animations";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $primary-color;
  color: $font-color-light;
}

html {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $font-color-dark;

  font-family: "Open Sans" !important;

  overflow-x: hidden !important;
}

h1 {
  font-size: clamp(1.25rem, 4.2vw, 10rem);
}

h2 {
  font-size: clamp(1rem, 1.5vw, 5rem);
}

a {
  text-decoration: none;
}

[data-scroll-container] {
  perspective: 1px;
}

.c-scrollbar_thumb {
  background-color: $font-color-darker !important;
  opacity: 0.3;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
}
li {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: clamp(1.75rem, 6vw, 2.5rem);
  }

  h2 {
    font-size: clamp(0.9rem, 2vw, 5rem);
  }
}
