@import "./variables";

.btn {
  font-size: clamp(0.75em, 2vw, 1em);
  padding: 1.75em 4em;
}

.btn-action {
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 59, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 59, 0, 1) 100%
  );
  background: -o-linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 59, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3B00', endColorstr='#FFFF00', GradientType=0 );
  background: -ms-linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 59, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 59, 0, 1) 100%
  );
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: clamp(0.6em, 2.5vw, 1em);
    padding: 1.75em 3.5em;
  }
}
