@import "./variables";

.btn {
  font-size: clamp(0.75em, 2vw, 1em);
  padding: 1.75em 4em;
}

.btn-primary {
  background: $primary-color;
}

.btn-action {
  background: hsla(199, 100%, 75%, 1);

  background: linear-gradient(
    -90deg,
    hsla(199, 100%, 75%, 1) 1%,
    hsla(199, 68%, 49%, 1) 100%
  );

  background: -moz-linear-gradient(
    -90deg,
    hsla(199, 100%, 75%, 1) 1%,
    hsla(199, 68%, 49%, 1) 100%
  );

  background: -webkit-linear-gradient(
    -90deg,
    hsla(199, 100%, 75%, 1) 1%,
    hsla(199, 68%, 49%, 1) 100%
  );
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: clamp(0.6em, 2.5vw, 1em);
    padding: 1.75em 3.5em;
  }
}
