@import "./variables";

.font-serif {
  font-family: "Playfair Display" !important;
}

.font-sans {
  font-family: "Poppins" !important;
}

.font-sans-p {
  font-family: "Open Sans" !important;
}

.font-color-dark {
  color: $font-color-dark;
}

.font-color-darker {
  color: $font-color-darker;
}

.font-color-light {
  color: $font-color-light;
}

.font-color-lighter {
  color: $font-color-lighter;
}

.font-color-white {
  color: $bg-color;
}
