@import "./variables";

.font-color-dark {
  color: $font-color-dark;
}

.font-color-darker {
  color: $font-color-darker;
}

.font-color-light {
  color: $font-color-light;
}

.font-color-lighter {
  color: $font-color-lighter;
}
