@import "./variables";

.section-mt {
  margin-top: clamp(60px, 10vw, 150px);
}

.section-mb {
  margin-bottom: clamp(60px, 10vw, 150px);
}

.section-mb-xl {
  margin-bottom: clamp(80px, 15vw, 250px);
}

.section-mt-xl {
  margin-top: clamp(80px, 15vw, 250px);
}

.content-wrapper {
  padding-left: clamp(20px, 5vw, 300px);
  padding-right: clamp(20px, 5vw, 300px);
}

.underline {
  text-decoration: none !important;
  position: relative;
  // display: inline-block;

  transition: all 0.5s;
  &:before {
    background-color: $primary-color !important;
    bottom: 0px;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s,
      background-color 0.3s ease 0s;
    width: 100%;
  }

  &:hover:before {
    width: 75%;
    left: 0;

    background-color: rgb(74, 249, 255) !important;
  }
}

.link-primary {
  color: $primary-color;

  transition: color 0.275s ease 0s;
  &:hover {
    color: rgb(74, 249, 255);
  }
}

.lh-0 {
  line-height: 0;
}

.crop-down-xl {
  object-fit: cover;
  object-position: 100% 500px !important;
}

.crop-down-lg {
  object-fit: cover;
  object-position: 100% 300px !important;
}

.crop-down-md {
  object-fit: cover;
  object-position: 100% 200px !important;
}

.z-999 {
  z-index: 999;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
