@import "./variables";

.section-mt {
  margin-top: clamp(30px, 4vw, 150px);
}

.section-mt-xl {
  margin-top: clamp(30px, 10vw, 250px);
}

.section-mb {
  margin-bottom: clamp(30px, 4vw, 150px);
}

.content-wrapper {
  padding-left: clamp(20px, 5vw, 300px);
  padding-right: clamp(20px, 5vw, 300px);
}

.underline {
  text-decoration: underline;
}

.link-primary {
  color: $primary-color;
}

.lh-0 {
  line-height: 0;
}

.crop-down {
  object-fit: cover;
  object-position: 100% 500px !important;
}
