$bg-color: #ffffff;

$primary-color: #289dd2;
$secondary-color: #62ddd6;
$tertiary-color: #365b6d;

$font-color-dark: #111111;
$font-color-darker: #000000;
$font-color-light: #d6d6d6;
$font-color-lighter: #ececec;
