.image-carousel-wrapper {
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    transition: all 0.5s;
  }

  &:hover {
    img {
      height: 30vw !important;

      transition: all 0.5s;
    }
  }
}
