.assembly {
  position: relative;
  .kitchen {
    position: absolute;

    top: -25.5vw;
    right: -35vw;
    min-width: 200vw;

    z-index: -1;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .plant {
    position: absolute;

    top: 5vw;
    right: -35vw;

    width: 25vw;
    height: auto;
  }
  .table {
    position: absolute;

    top: 25vw;
    right: 1vw;

    width: 40vw;
    height: auto;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 767px) {
  .kitchen {
    top: -32.5vw !important;
    right: -58vw !important;

    width: 300vw !important;
    min-width: 300vw !important;
  }
  .plant {
    opacity: 0;
    top: 20vw !important;
    right: -25vw !important;

    min-width: 35vw;
  }
  .table {
    top: 42.5vw !important;
    right: 20vw !important;

    min-width: 60vw;
  }
}
