.assembly {
  position: relative;
  .kitchen {
    position: absolute;

    top: -25.5vw;
    right: -35vw;
    // right: -75vw;
    min-width: 200vw !important;

    z-index: -1;
  }
  .plant {
    position: absolute;

    top: 5vw;
    right: -35vw;

    width: 25vw;
    height: auto;
  }
  .table {
    position: absolute;

    top: 25vw;
    right: 1vw;

    width: 40vw;
    height: auto;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 768px) {
  .kitchen {
    top: -1vw !important;
    left: 18vw !important;
    width: 200vw !important;
    min-width: 200vw !important;
  }
  .plant {
    top: 16vw !important;
    right: -20vw !important;
  }
  .table {
    top: 37vw !important;
    right: 30vw !important;
  }
}
