#footer {
  // background-color: rgb(209, 240, 228);
  min-height: 300px;

  p {
    font-size: clamp(1.25rem, 3.5vw, 5rem);
  }

  img {
    min-height: 300px;
    min-width: 100vw;
    width: auto;
    object-fit: cover;
    // height: clamp(500px, 100vh, 100%);
    pointer-events: none;
  }
}
